services:
  dockhand:
    image: fnsys/dockhand:latest
    container_name: dockhand
    restart: unless-stopped
    expose:
        - "3000"
    environment:
        FEAT_BACKUPS_ENABLED: true
        EXPORT_METRICS: true
    networks:
      - gateway
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - dockhand_data:/app/data

volumes:
  dockhand_data:

networks:
  gateway:
    external: true
